################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreCore/.vs/BookStoreCore/v16
/BookStoreCore/obj
